.buttonCss{
    color: white !important;
    background: #282a35;
    border: 1px solid whitesmoke;
    padding: 10px 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.buttonCss:hover{
    background: black;
}
a{
    height: 40px;
    padding: 10px 20px;
    color: aliceblue;
    font-size: 20px;
    text-decoration: none;

}
img{
    width: 180px;
    height: 120px;
    padding: 10px;
}